# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

/develop/.vs
/develop/_Out
/develop/Temp/Debug_x64
/develop/Temp/Release_x64
/develop/NFTools/CommandClient/x64
/develop/x64